html {
  height: 100%;
  font-family: 'Crimson Pro', serif;
}

body {
  height: 100%;
  margin: 0;
}
  
.header {
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #141414;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
}
  
.header__content {
  margin-left: 12px;
}

.header__title {
  font-size: 1.1rem;
  color: white;
  font-weight: 400;

  & span {
    color: #F0C600;
  }
}
  
.page {
  display: flex;
  height: calc( 100vh - 48px);
}

.sideBar {
  width: 48px;
}

.sideBar__element {
  padding: 12px;
  position: relative;
  background: white;
}

.sideBar__element--stage {
  height: 50vh;
  background: #F0C600;
}

.sideBar__title {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  & span {
      font-weight: 700;
  }
}
  
  #content {
    background: #9E9E9E;
    flex: 1 0 auto;
    padding: 24px 24px 0;
    /* enable grow, disable shrink */
  }

  .graph__title {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
  }

  .graph__subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: white;
    margin-top: 6px;
  }

  .rankGraphWrapper {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 80vh;
    overflow-y: scroll;
  }

  .rankGraph {
    width: 100%;
    height: 1200px;
  }

  .axis {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.6rem;
    color: white;
  }

  .axis__y {
    font-weight: 700;
    font-size: 0.8rem;
    color: black;
  }

  .axis line {
    stroke: white;
    opacity: 0.6;
  }

  .axis__y line {
    opacity: 0.2;
  }

  .rankLine {
    stroke-width: 2px;
    stroke: #F0C600;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;

    @media(min-width: 768px) {
      stroke-width: 4px;
    }
  }

  .rankLine--leader {
    stroke: black;
  }

  .rankDot {
    fill: #F0C600;
    stroke: #9E9E9E;
  }

  .rankDot--leader {
    fill: black;
  }

  .rankText {
    fill: black;
    stroke: #9E9E9E;
    stroke-width: 3px;
    stroke-linecap: round;
    font-family: Roboto,sans-serif;
    font-size: .6rem;
    font-weight: 700;
    paint-order: stroke;

    @media (min-width: 768px) {
      font-size: 0.7rem;  
    }
  }

  .rankText--points {
    font-weight: 400;
    font-size: 0.5rem;
  }